table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #241d1d;
  padding: 8px;
}

th {
  background-color: #e7e1e1;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #c5cab9;
}

tr:hover {
  background-color: #bcb5de;
}

h1 {
  color: #333;
}

.sort-asc::after {
    content: " ▲";
  }
  
  .sort-desc::after {
    content: " ▼";
  }